.brand-section {
  background-image: url('/public/background-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #810D0D;
  position: relative;
  padding: 2rem 5%;
}

.brand-content h2 {
  font-family: 'San Francisco', sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.product-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}   
.product-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.product-item img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 10px;
}

.product-item-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  text-align: left;
}

.product-item-content ul {
  list-style-type: none;
  font-size: 1.2rem;
}
.product-item-content ul li {
  margin-bottom: 1rem;
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .brand-section {
    padding: 2.5rem 3%;
  }

  .brand-content h2 {
    font-size: 2.5rem;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .brand-section {
    padding: 2rem 2%;
  }

  .brand-content h2 {
    font-size: 2rem;
  }

  .product-list {
    gap: 1rem;
  }
} 