.hero {
  top: 126px;
  left: 0;
  right: 0;
  height: 90vh;
  background: url('/public/Banner-Landscape-3.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .hero-container{
    width: 100%;
    height: 570px;
  }
  .hero{
    background: url('/public/Banner-Landscape-3.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .hero {
    padding-left: 3%;
    text-align: center;
    justify-content: center;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .hotline {
    padding: 8px 15px;
  }

  .hotline span {
    font-size: 1rem;
  }

  .phone-number {
    font-size: 1.2rem;
  }
} 