@import url('./fonts/fonts.css');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'San Francisco', sans-serif;
}

main {
  flex: 1;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.hero {
  flex: 1;
}
.feature {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
.brand {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

