@import url('./fonts/fonts.css');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'San Francisco', sans-serif;
}

main {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}